body {
    font-family: "Indie Flower", cursive, sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 120%;
    background: #dcedc8;
    color: #212121;
  }
  h1 {
    font-size: 200%;
  }
  a {
    color: #212121;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }  